.App {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  font-family: "Poppins", sans-serif;
}

header {
  background-color: white;
  text-align: center;
  font-size: 50px;
  padding: 10px 0;
  font-weight: 500;
  border-radius: 4px 4px 0 0;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset,
    0 0 10px rgba(235, 69, 95, 0.9);
}

header::selection {
  background-color: rgb(235, 69, 95, 0.5);
  color: white;
}

footer {
  margin: 30px;
  text-align: center;
}

footer::selection {
  background-color: rgb(235, 69, 95, 0.5);
  color: white;
}

footer a {
  color: #eb455f;
}

footer a:hover {
  color: #bb011d;
}

footer a::selection {
  background-color: rgb(235, 69, 95, 0.5);
  color: #eb455f;
}
