.Meaning {
  padding: 20px 30px;
  margin-bottom: 20px;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset,
    0 0 10px rgba(235, 69, 95, 0.9);
  background-color: white;
}

h3 {
  margin-bottom: 10px;
  font-family: "Victor Mono", monospace;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

h3::selection {
  background-color: rgb(235, 69, 95, 0.5);
  color: white;
}

.Definition {
  margin: 0;
}

.Definition::selection {
  background-color: rgb(235, 69, 95, 0.5);
  color: white;
}

.Example {
  color: #eb455f;
  font-style: italic;
  margin: 10px 0 0;
}

.Example::selection {
  background-color: rgb(235, 69, 95, 0.5);
  color: white;
}

.Synonyms {
  font-style: italic;
  font-size: 14px;
  margin-top: 10px;
}

.Synonyms::selection {
  background-color: rgb(235, 69, 95, 0.5);
  color: white;
}

.Antonyms {
  font-style: italic;
  font-size: 14px;
  margin-top: 5px;
}

.Antonyms::selection {
  background-color: rgb(235, 69, 95, 0.5);
  color: white;
}
