.Photos {
  padding: 25px;
  background-color: white;
  grid-template-columns: 1fr 1fr 1fr;
  display: grid;
  flex-wrap: wrap;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset,
    0 0 10px rgba(235, 69, 95, 0.9);
}

@media (max-width: 800px) {
  .Photos {
    grid-template-columns: 1fr;
  }
}

.Photo {
  padding: 10px;
}

img {
  border-radius: 4px;
  width: 100%;
}
