.WordContainer {
  padding: 20px 30px 10px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset,
    0 0 10px rgba(235, 69, 95, 0.9);
}

.Word {
  font-weight: 500;
  font-size: 35px;
  margin: 0;
}

.Word::selection {
  background-color: rgb(235, 69, 95, 0.5);
  color: white;
}

.PhoneticLine {
  margin-top: 5px;
  align-items: center;
  color: #eb455f;
  display: flex;
  gap: 10px;
}

.Phonetic {
  display: flex;
  width: fit-content;
  font-size: 20px;
  margin: 0;
  font-weight: 600;
}

.Phonetic::selection {
  background-color: rgb(235, 69, 95, 0.5);
  color: white;
}

.PlayLink {
  padding: 0;
  text-decoration: none;
  display: flex;
  border: none;
  border-radius: 50px;
}

audio {
  display: flex;
  border-radius: 50px;
  display: flex;
}

.MeaningContainer {
  margin-top: 20px;
}
